* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.d_pp{
    background-color: #0f0a2f;
    height: 400px;
    width: 1245px;
    display: flex;
}
.logo_foot{
    color: #e31414;
    font-size: 20px;
    padding-left: 1000px;
}
.contact_foot{
    color:#b67d0c;
    display: flex;
    margin-top: 100px;
    font-size: 50px;
}
.adr_foot{
    color:#e7e7e7;

  font-family: 'Open Sans', sans-serif;
}
.d_pp{
    background-color: #f0eff5;
    height: 340px;
    width: 1245px;

}
.logo_foot{
    color: #110b28;
    font-size: 30px;
    padding-top: 50px;
    padding-left: 30px;
}
.contact_foot{
    color:#110b28;
    margin-top: 60px;
    margin-left: 150px;
    font-size: 40px;
}
.adr_foot{
    color: #110b28;
    margin-top: 0px;

    margin-left: 200px;
    font-size: 20px;
}
.div_adr{

    margin-top: 100px;

    margin-top: 70px;

    
}
.icon {
    width: 20px;
    height: 20px;

    fill: #110b28;
    transition: fill 0.3s ease;
    color: #110b28;

}
.div_call{
    margin-top: 100px;
    margin-left: 150px;
    display: flex;
    gap: 10px;
    font-size: 20px;
}
.div_mail{
    margin-top: 25px;
    margin-left: 150px;
    display: flex;
    gap: 10px;
    font-size: 20px;
}
#num_tel{

    color: #110b28;
}
#adr_mail{
    color: #110b28;
}
#adr_mail{
    color: #110b28;
}
.flex{
    display: flex;

}