<div class="d1">
  <h3 class="main_h3">SEDRAOUI DE BÂTIMENT ET PEINTURE</h3>
  <p class="main_p">
    Des solutions parfaites, <br />
    conçues pour répondre aux exigences <br />
    de votre entreprise !
  </p>
  <div class="card">
    <div class="close_icon" title="Fermer">✕</div>
    <h3 class="card_h3">
      Solution parfaite <br />
      répondant aux besoins de l'entreprise !
    </h3>
    <p class="card_p">
      Découvrez comment nous pouvons transformer votre gestion de projet.
    </p>
    <div class="btn_mid">
      <form action="">
<!-- Remplacer le bouton existant -->
<button type="button" class="btn" routerLink="/devis">
  Demander un devis
</button>
      </form>
    </div>
  </div>
</div>
