* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.d1{
    background-image: url("../../../assets/images/13_n.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 100% 100%;
    min-height: 100vh;
}
.main_h3{
    color: #e4e5e7;
    text-align: center;
    padding-top: 10rem;
    font-family:'Open Sans', sans-serif;
}
.main_p{
    font-family:'Open Sans', sans-serif;
    color: #d9dcff;
    font-size: 40px;
    text-align: center;
    padding-top: 1.5rem ;
}
.card{
    background: #550816;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #761325, #550816); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #761325, #550816); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    bottom: -30px;
    right: 20px;
    width: 320px;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(88, 29, 23, 0.436);
    animation: float 4s ease-in-out infinite;
    z-index: 10;
    margin-bottom: -50px;
}

.card_h3{
    text-align: center;
    font-size: 20px;
    color: #e4e5e7;
    margin-top: 35px;
    font-family:'Open Sans', sans-serif;
    letter-spacing: 1px;
}
.card_p{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    color: #e4e5e7;
    font-family:'Open Sans', sans-serif;
    margin-bottom: 1.5rem;
    padding-left: 20px;
}
.btn{
    background-color: #e4e5e7;
    display: inline-block;
    padding: 10px 24px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 0.85rem;
    cursor: pointer;
    border: none;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    font-family:'Open Sans', sans-serif;

}
.btn_mid{
    text-align: center;
    margin-bottom: 30px;
}
.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}
.close_icon {
    position: absolute;
    top: 10px;
    right: 15px;
    background: #0000001a;
    border-radius: 50px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 12px;
    transition: 0.2s;
}
.close_icon:hover { background: #00000033; }

/* --- ANIMATIONS --- */
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}