<section class="hero">
  <div class="hero-content">
    <h1 class="hero-title">Sadraoui Construction</h1>
    <p class="hero-subtitle">Bâtir la confiance, créer de la valeur.</p>
    <p class="hero-description">
      Nous transformons les skylines et créons des espaces durables pour les générations futures. 
      Excellence et innovation dans chaque projet.
    </p>
    
    <a routerLink="/connexion" class="btn-contact">
      NOUS CONTACTER
    </a>
  </div>
</section>

<div class="features">
  <div class="feature">
    <img src="../../../assets/images/construction.png" alt="Construction">
    <h3>Construction</h3>
    <p>Des projets innovants et durables</p>
  </div>
  <div class="feature">
    <img src="../../../assets/images/home_12248942.png" alt="Rénovation">
    <h3>Rénovation</h3>
    <p>Transformation d'espaces existants</p>
  </div>
  <div class="feature">
    <img src="../../../assets/images/excavator_10569334.png" alt="Excavation">
    <h3>Excavation</h3>
    <p>Préparation de terrain professionnelle</p>
  </div>
</div>